<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>{{title}}</title>
    </head>
    <body>
        <header class="main-header">
            <a href="/"><h1>My Petition</h1></a>
            <nav class="main">
                <a href="/login">Login</a>
                <a href="/register">register</a>
                <a href="/sign">Sign</a>
                <a href="/signers">List of Signers</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>

        <div class="content">
            {{{body}}}
        </div>

        <footer>
            <p>© Copyright Lcn 2022</p>
        </footer>

    </body>
</html>