<main>
    <form class="disable-select" action="" method="post">
        <input type="text" name="first-name" placeholder="first name" />
        <input type="text" name="last-name" placeholder="last name" />
        <input type="hidden" name="signature" />

        <canvas height="200px" width="500px"></canvas>
        <script src="canvas.js"></script>
        <input class="btn" type="submit" value="Sign the petition">
    </form>
</main>