<main>
    <form class="disable-select" action="" method="post">

        <label for="email">
            <input type="email" required="" name="email" id="email" />
            email
        </label>

        <label for="password">
            <input type="password" required="" name="password" id="password" />
            password
        </label>

        <button class="submit" type="submit">Login</button>
    </form>

    <a href="/register">not yet registered? register here!</a>
</main>