<main>
    <form class="disable-select" action="" method="post">

            <input type="email" required="required" name="email" id="email" />
        <label for="email">email</label>
           

        <input type="password" required="required" name="password" id="password" />
        <label for="password">password</label>

        <button class="submit" type="submit">Login</button>
    </form>

    <a href="/register" class="discreet">not yet registered? register here!</a>
</main>