<main>
    <form class="disable-select" action="" method="post">
        <input type="text" name="first" placeholder="first name" />
        <input type="text" name="last" placeholder="last name" />
        <button class="btn submit"><input
                type="submit"
                value="Login"
            /></button>
    </form>
</main>