{{! link for documentation on accessibility for forms }}
{{! http://web-accessibility.carnegiemuseums.org/code/forms/ }}

<main>
    <form class="disable-select" action="" method="post">

        <label for="city">
            <input type="text" name="city" id="city" />
            city
        </label>

        <label for="age">
            <input type="text" name="age" id="age" />
            age
        </label>

        <label for="website">
            {{!-- +++ UX HINT: url has to start with http:// or https:// --}}
            <input type="text" name="website" id="website" />
            website
        </label>

        <button class="submit" type="submit">Submit</button>
    </form>

    <a href="/sign" class="discreet"> → Skip</a>
</main>