<main>
    <h1>Delete Signature</h1>
    <p>Are you sure you want to delete your signature?</p>
    <input type="hidden" name="delete-signature" value="delete" />
    <a href="/profile/deletesignature/delete">
        <button class="destructive"> Delete Signature</button>
    </a>
    <button class="primary">Go back</button>
</main>