<main>
    <form class="disable-select" action="" method="post">
        <input type="text" name="first" placeholder="first name" />
        <label for="first">first name</label>
        <input type="text" name="last" placeholder="last name" />
        <label for="last">last name</label>
        <input type="email" name="email" placeholder="email"/>
        <label for="email">Email</label>
        <input type="text" name="password" placeholder="password">
        <label for="password">password</label>
        {{!-- <input type="text" name="password-confirm" placeholder="password">
        <label for="password-confirm">confirm password</label> --}}
        <button class="btn submit"><input type="submit" value="Register" /></button>
    </form>
</main>