{{!-- link for documentation on accessibility for forms --}}
{{!-- http://web-accessibility.carnegiemuseums.org/code/forms/ --}}

<main>
    <form class="disable-select" action="" method="post">

            <input type="text" required="" name="first" id="first" />
        <label for="first">first name
        </label>
            

            <input type="text" required="" name="last" id="last" />
        <label for="last">last name
        </label>
            

            <input type="email" required="" name="email" id="email" />
        <label for="email">email
        </label>
            

            <input type="password" required="" name="password" id="password" />
        <label for="password">password
        </label>
            

            <input
                type="password"
                required=""
                name="passconfirm"
                id="passconfirm"
            />
        <label for="passconfirm">confirm password
        </label>
            

        <button class="submit" type="submit">Submit</button>
    </form>

    <a href="/login" class="discreet">Already registered? Login here</a>
</main>