<main>
    <p>Here you can see a list of all the people who have already signed it and
        you can go yell at them about it if you want, or try to steal their data
        and make their lives miserable, if you think they deserve it</p>

    {{! Insert handlebars context for navigating list of db thingie }}
    <ul class="list-of-signers">
        <li class="one-signre">{{name}} {{lastName}}</li>
    </ul>
</main>