<main>
    <h1>TEST FORM</h1>
    <form class="disable-select" action="" method="post">
        <input type="text" name="first" id="first name" />
        <label for="first">first name</label>
        <input type="text" name="last" id="last name" />
        <label for="last">last name</label>
        <input type="email" name="email" id="email"/>
        <label for="email">Email</label>
        <input type="password" name="password" id="password">
        <label for="password">password</label>
        <input type="password" name="passconfirm" id="passconfirm">
        <label for="passconfirm">confirm password</label>
        <button class="btn submit"><input type="submit" value="Test Me!"/></button>
    </form>
</main>