<main>
    <div class="container-profile">
        {{#dataToRender}}
            <img src="{{signature}}" alt="User signature">
        {{/dataToRender}}
        {{! <canvas></canvas> }}
    </div>
</main>