<main>
    <h1>Thank you for signing!!</h1>
    {{!-- the signature of the user who just signed is gonna be showed here. you have to access it from DB --}}
    <div class="display-own-signature">{{userSignature}}</div>
    <p>We honestly appreciate your participation. It is very important for absolutely nothing in this world, and you could be doing anything else with these 30 seconds of your life, but you came here and signed it.</p>
    <p>Thanks a lot. It's been really emotional.</p>

    
</main>