<main>
    <div class="container-profile">
        {{#dataToRender}}
        <p class="user-data">Name:  {{first}} {{last}}</p>
        <p class="user-data">E-Mail:  {{email}}</p>
        {{/dataToRender}}
        {{!-- <canvas></canvas> --}}
    </div>
</main>