/* ===== General ===== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

main,
header,
footer {
    padding: 0 5vw;
}

/* ===== General Elements & Behaviors ===== */
.btn {
    cursor: pointer;
}

/* ===== MAIN TEMPLATE LAYOUT ===== */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

footer {
    background-color: hotpink;
    width: 100%;
    height: 8vh;
    /* position: sticky;
    bottom: 0; */
}

.content {
    min-height: 77vh;
}

/* >>>>>>>>>>>> FORM <<<<<<<<<<<< */
/* ===== Form ===== */
form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: gold;
    border: none;
    border-bottom: 3px solid indigo;
    font-size: 1 rem;
    padding: 2%;
}

label {
    color: indigo;
    font-size: 1.4rem;
    padding-bottom: 3vh;
}

.error {
}

/* ===== Canvas ===== */
canvas {
    background-color: whitesmoke;
    border-radius: 5vw;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* >>>>>>>>>>>> USER PROFILE <<<<<<<<<<<< */
.container-profile {
    background-color: pink;
    border: 5px solid hotpink;
    width: 50vw;
    padding: 5vh;
}

.user-data {
    font-size: 1.6rem;
    color: hotpink;
}

/* >>>>>>>>>>>> THANKS PAGE <<<<<<<<<<<< */
/* ===== Sth ===== */

/* >>>>>>>>>>>> SIGNERS PAGE <<<<<<<<<<<< */
/* ===== List of Users ===== */

.list-of-signers {
}

.one-signer {
}
