/* Link to guidelines on styling forms: https://gerireid.com/forms.html  */

/* === Custom Properties === */
:root {
    --main-bg-gradient: linear-gradient(
        127deg,
        rgba(119, 9, 255, 1) 28%,
        rgba(255, 41, 157, 1) 53%,
        rgba(252, 245, 69, 1) 81%,
        rgba(122, 252, 69, 1) 100%
    );
    --text-gradient: -webkit-linear-gradient(
        127deg,
        rgba(119, 9, 255, 1) 28%,
        rgba(255, 41, 157, 1) 53%,
        rgba(252, 245, 69, 1) 81%,
        rgba(122, 252, 69, 1) 100%
    );
    --main-white: white;
    --main-text-color: white;
    --title-font: "Source Code Pro", monospace;
    --content-font: "Palanquin", sans-serif;
}

/* ===== General ===== */
* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

body {
    /* background-color: gold; */
    background-image: var(--main-bg-gradient);
    font-family: var(--content-font);
    letter-spacing: 0.4px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    height: 6vh;
    border-radius: 4vh;
    border: none;
}

button:hover {
}

header,
footer {
    padding: 0 5vw;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

main {
    padding: 4vh 5vw;
}

h1 {
    font-family: var(--title-font);
    background: -webkit-linear-gradient(
        180deg,
        rgba(119, 9, 255, 1) 28%,
        rgba(255, 41, 157, 1) 53%,
        rgba(252, 245, 69, 1) 81%,
        rgba(122, 252, 69, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3vh;
}

/* ===== General Elements & Behaviors ===== */
.btn {
    cursor: pointer;
}

.discreet {
    color: indigo;
    display: block;
    margin-top: 2vh;
    text-align: center;
}

/* ===== MAIN TEMPLATE LAYOUT ===== */
.logo {
    color: var(--main-white);
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin-bottom: 8vh;
}

nav.main a {
    text-transform: uppercase;
    margin-left: 3vw;
    color: var(--main-white);
}

footer {
    height: 8vh;
    margin-top: 8vh;
    /* position: sticky;
    bottom: 0; */
}

.content {
    min-height: 77vh;
}
/* MAIN*/
main {
    background-color: var(--main-white);
    border-radius: 5vw;
}
/* >>>>>>>>>>>> FORM <<<<<<<<<<<< */
/* ===== Form ===== */
form {
    padding: 5vh 0;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 1.4rem;
}

input {
    display: block;
    /* background-color: gold; */
    border: none;
    border-bottom: 3px solid indigo;
    margin-bottom: 3%;
    padding: 4%;
}

input:focus {
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
}

/* input:required {
    background-color: hotpink;
} */
/* input:required:invalid {
    border: 3px solid red;
}  */
/* input:optional {background-color: pink;} */
/* input:invalid {
    background-color: red;
} */
/* input:valid {
    background-color: green;
} */

.submit {
    font-weight: 800;
    letter-spacing: 0.6;
    margin-top: 3vh;
    font-family: var(--title-font);

    background: var(--main-white);
    color: indigo;
    border: 3px solid indigo;
}

.submit:hover {
    background: var(--main-bg-gradient);
    color: var(--main-white);
    border: none;
}

label {
    color: indigo;
    margin-bottom: 18%;
}

.btn-primary {
    background-color: indigo;
    border: none;
    border-radius: 2rem;
    padding: 6%;
    font-size: 1.2rem;
    color: white;
}

.btn-primary:hover {
    background-color: var(--main-bg-gradient);
}
.error {
}

/* ===== Canvas ===== */
form.canvas-page {
    padding: 0;
}

main.canvas-page {
    padding: 0;
}
canvas {
    background-color: whitesmoke;
    border-radius: 5vw;
    /* width: 80vw;
    height: 30vh; */
}

.canvas-cont {
    /* width: 90vw; */
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* >>>>>>>>>>>> USER PROFILE <<<<<<<<<<<< */
.container-profile {
    /* background-color: pink; */
    /* border: 5px solid hotpink; */
    width: 50vw;
    padding: 5vh;
}

.user-data {
    font-family: var(--title-font);
    color: indigo;
    font-size: 1.6rem;
    /* color: hotpink; */
}

.data {
font-family: var(--content-font);
color: black;
margin-left: 10px;
}

/* >>>>>>>>>>>> THANKS PAGE <<<<<<<<<<<< */
/* ===== Sth ===== */

/* >>>>>>>>>>>> SIGNERS PAGE <<<<<<<<<<<< */
/* ===== List of Users ===== */

.list-of-signers {
}

.one-signer {
}

.signer-info {
}
